@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.app{
    min-height: 100vh;
    display: flex;
    background-image: url('../public/anime-style-mythical-dragon-creature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}